#logo{
    width:30%;
    float: right;
    position: relative;
    padding-right: 10%;
    padding-bottom: 3%;
}

#discription{
    text-align: left; 
    padding-left: 10%; 
    padding-right: 45%
}

#firstlogo{
    width:30%;
    float: right;
    position: relative;
    padding-right: 10%;
    padding-bottom: 3%;
}

#first{
    text-align: left; 
    padding-left: 10%; 
    padding-right: 45%
}