#logo{
    width:30%;
    float: right;
    position: relative;
}

#discription{
    text-align: left; 
    align: left; 
    padding-left: 10%; 
    padding-right: 45%
}

#firstlogo{
    width:25%;
    float: left;
    position: relative;
}

#first{
    text-align: right; 
    align: right; 
    padding-left: 45%; 
    padding-right: 10%
}